<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body class="dark-body">
<div id="header_container">
  <div class="header_center_width">
    <div id="header_left_align">
      <a href="/index.html"> 
      <div class="wordmark btn-hide-300" >TABLETOP WHALE</div> 
      </a>
      <input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
      <nav class="menu">
        <ul>
          <li> <a href="/index.html">     Home    </a> </li>
          <li> <a href="/faq.html">       About   </a> </li>
          <li> <a href="/archive.html">   Archive </a> </li>
          <li> <a href="/2014/11/03/how-to-make-an-animated-infographic.html">   Tutorial </a> </li>
          <li> <a href="http://www.redbubble.com/people/eleanorlutz/shop"> Shop </a> </li>
        </ul>
        <label for="navbar-checkbox" class="navbar-handle"></label>
        <div class="navbar-marginbottom"></div>
      </nav>
    </div>
  </div>
</div>

<div class="title-container-404">
 <div class="image-404">
  <img src="/img/posts/404.gif" draggable="false">
  <a class="404" href="/index.html"><div class="button 404" target="_blank"> 
                Take me home
  </div></a>
</div>
<div class="margin-5-IEsafe"></div>

{% include footer.html %}

</body>
</html>